<!DOCTYPE html>
<html>
<head>
  <title>Profil</title>
</head>
<body>
  <h1>Profil de <%= user.username %></h1>
  <p>ID: <%= user._id %></p>
  <p>Rôle: <%= user.role %></p>
  <a href="/">Retour</a>
</body>
</html>
